.row
	.column.small-12
		h2 Applicant Developers
		hr
		ul#developers
			li(ng-repeat="developer in developers")
				a(ng-href="/developer/{{developer.id}}") {{developer.createdAt|date:'mediumDate'}} - {{ developer.name }}
		.panel.callout.text-center(ng-show="developers.length == 0") No developer applicants yet
