doctype html
html(ng-app="FoodApp")
    head
        base(href="/")
        title Intellmed Food
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        // STYLES
        // STYLES END
    body
        // TEMPLATES
        // TEMPLATES END
        
        // SCRIPTS
        // SCRIPTS END