doctype html
html(ng-app="RegistrationApp")
    head
        title Employer
        base(href="http://localhost:1337/")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

        // STYLES
        link(rel="stylesheet", href="/styles/dependencies/foundation/foundation.css")
        link(rel="stylesheet", href="/styles/dependencies/foundation/normalize.css")
        link(rel="stylesheet", href="/styles/common/developer/developer.css")
        link(rel="stylesheet", href="/styles/common/list/list.css")
        link(rel="stylesheet", href="/styles/common/star/star.css")
        link(rel="stylesheet", href="/styles/employer/app.css")
        // STYLES END

    body
        // TEMPLATES
        script(type="text/javascript", src="/templates/jst_employer.js")
        // TEMPLATES END
        .row
            .column.small-12.text-center
                a(href="/")
                    h1 Employer Account
        section
            ng-view
        .row(ng-controller="MainCtrl")
            .column.small-12
                a.button.radius.small.expand(ng-click="logout()") Logout
        // SCRIPTS
        script(src="/js/dependencies/angular/angular.js")
        script(src="/js/dependencies/angular/angular-animate.js")
        script(src="/js/dependencies/angular/angular-resource.js")
        script(src="/js/dependencies/angular/angular-route.js")
        script(src="/js/dependencies/lodash/lodash.js")
        script(src="/js/employer/app.js")
        script(src="/js/employer/MainCtrl.js")
        script(src="/js/common/developer/DeveloperCtrl.js")
        script(src="/js/common/list/ApplicantModel.js")
        script(src="/js/common/list/ListCtrl.js")
        script(src="/js/common/star/StarDirective.js")
        // SCRIPTS END

