doctype html
html(ng-app="FoodApp")
    head
        title Intellmed Food
        base(href="http://#{base}/")
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        // STYLES
        link(rel="stylesheet", href="/styles/dependencies/foundation/foundation.css")
        link(rel="stylesheet", href="/styles/dependencies/foundation/normalize.css")
        link(rel="stylesheet", href="/styles/common/rate/rate.css")
        link(rel="stylesheet", href="/styles/public/app.css")
        link(rel="stylesheet", href="/styles/public/menus/menus.css")
        // STYLES END
    body(ng-controller="LoginCtrl")
        // TEMPLATES
        script(type="text/javascript", src="/templates/jst_public.js")
        // TEMPLATES END
        #login(ng-click="login()") LOGIN USING CORPORATE GMAIL ACCOUNT    
        ng-view

        // SCRIPTS
        script(src="/js/dependencies/socket.io.js")
        script(src="/js/dependencies/angular/angular.js")
        script(src="/js/dependencies/angular/angular-animate.js")
        script(src="/js/dependencies/angular/angular-resource.js")
        script(src="/js/dependencies/angular/angular-route.js")
        script(src="/js/dependencies/lodash/lodash.js")
        script(src="/js/dependencies/sails.io.js")
        script(src="/js/public/app.js")
        script(src="/js/public/menus/MenusCtrl.js")
        script(src="/js/common/_utils.js")
        script(src="/js/common/rate/FaceRaterDirective.js")
        // SCRIPTS END