section.page
  ul#calendar
    li(ng-repeat="menu in menus track by menu.id")
      .date(ng-click="edit(menu)")
        .month {{menu.date|date:'MMM'}}
        .date-num {{menu.date|date:'dd'}}
        .day {{menu.date|date:'EEEE'}}
      ul.menu-items
        .menu-item(ng-repeat="food in menu.foods",ng-class="{selected: selected($index,$parent.$index)}",ng-click="select($parent.$index,$index)") 
          p {{food.name}}
          face-rater(ng-model="orders[$parent.$index].rating",ng-show="eaten(menu.date)",on-select="select(pidx)",pidx="{{$parent.$index}}")
          #comment-btn(ng-click="orders[$parent.$index].openComment = true") COMMENT
          .comment-box(ng-show="orders[$parent.$index].openComment")
            textarea(ng-model="orders[$parent.$index].comment")
            div(ng-click="orders[$parent.$index].openComment = false;select($parent.$index)") SAVE
  #add-menu(ng-click="edit()") +

  #edit-modal(ng-show="schedule")
    form
      label Date
      input(type="date",ng-model="schedule.date")
      label Food
      .row.collapse(ng-repeat="food in schedule.foods")
        .column.small-10
          input(type="text",ng-model="food.name",placeholder="food item name")
        .column.small-2
          .button.tiny.expand(ng-click="schedule.foods.splice($index,1)") x
      .row.collapse
        .column.small-12
          .button.tiny.expand(ng-click="schedule.foods.push({name:''})") ADD NEW FOOD
      .row.collapse
        .column.small-6
          .button.tiny.expand.secondary(ng-click="schedule = null") CANCEL
        .column.small-6
          .button.tiny.expand(ng-click="save()") SAVE