.row
  .column(ng-class="user && user.role === 1 ? 'small-8':'small-12'")
    h1 Latest Daily Menu
    ul
      li(ng-repeat="menu in menus | orderBy:'date' track by menu.id ",ng-click="edit(menu)")
        .row
          .column.small-4
            label {{menu.date|date:'fullDate'}}
          .column.small-8
            ul
              li(ng-repeat="food in menu.foods") {{ $index == menu.default ? "[ DEFAULT ]" : "" }} {{food.name}}
  .column.small-4(ng-show="user.role === 1")
    h1 Menu Editor
    button.expand.radius(ng-click="new()",ng-show="activeMenu.id") NEW

    form
      label Date
      input(type="date",ng-model="activeMenu.date",min="{{minDate|date:'yyyy-MM-dd'}}",placeholder="yyyy-MM-dd")
      label Options
      table
        thead
          tr
            th(width="500") name
            th default
            th nightshift only
            th
        tbody
          tr(ng-repeat="food in activeMenu.foods")
            td
              input(type="text",ng-model="food.name")
            td
              input(type="radio",name="defaulFood",ng-model="activeMenu.default",value="{{$index}}")
            td
              input(type="checkbox",ng-model="food.nightShiftOnly")
            td
              button.tiny(ng-click="activeMenu.foods.splice($index,1)") X
      .row
        .column.small-8
          input(type="text",ng-model="newFood",placeholder="food name")
        .column.small-4
          button.expand.tiny.radius(ng-click="addFood()") ADD
      button.large.expand.radius(ng-click="save()") SAVE

