section.page
  ul#calendar
    li(ng-repeat="menu in menus track by menu.id",ng-click="select($index)")
      .date
        .month {{menu.date|date:'MMM'}}
        .date-num {{menu.date|date:'dd'}}
        .day {{menu.date|date:'EEEE'}}
      ul.menu-items
        .menu-item(ng-repeat="food in menu.foods")
          section.title
            aside
              .count {{food.orders}}
              img(ng-show="food.rating",ng-src="/images/rating/{{food.rating}}.svg")
            header {{food.name}}
      ul.menu-items.comment-container(ng-show="selected($index)")
        .menu-item(ng-repeat="food in menu.foods")
          ul.comments
            li(ng-repeat="order in (menu.orders|filter:{food:$index}:true)",ng-show="order.comment")
              img(ng-src="/images/rating/{{order.rating}}.svg")
              article {{order.comment}}