section.page
  ul#calendar
    li
      .date
        .month DEC
        .date-num 26
        .day FRIDAY
      ul.menu-items
        .menu-item
          section.title
            aside
              .count 36
              img(src="/images/rating/1.svg")
              figure
            header Tortang Talong with Betlog
        .menu-item
          section.title
            aside
              .count 36
              img(src="/images/rating/1.svg")
              figure
            header Tortang Talong with Betlog
        .menu-item
          section.title
            aside
              .count 36
              img(src="/images/rating/1.svg")
              figure
            header Tortang Talong with Betlog
        .menu-item
          section.title
            aside
              .count 36
              img(src="/images/rating/1.svg")
              figure
            header Tortang Talong with Betlog
      ul.menu-items.comment-container
        .menu-item
          ul.comments
            li
              img(src="/images/rating/5.svg")
              article dsafj jdsaf jdsaflkdsa lkjdsaf kjdsaflkvjdsaf lkdsajk dakjf dsajf kjdsaf lkjdsafl kajsflk ajsflkdsa j
            li
              img(src="/images/rating/4.svg")
              article dsafj jdsaf jdsaflkdsa lkjdsaf kjdsaflkvjdsaf lkdsajk dakjf dsajf kjdsaf lkjdsafl kajsflk ajsflkdsa j
            li
              img(src="/images/rating/3.svg")
              article dsafj jdsaf jdsaflkdsa lkjdsaf kjdsaflkvjdsaf lkdsajk dakjf dsajf kjdsaf lkjdsafl kajsflk ajsflkdsa j
        .menu-item
          ul.comments
            li
              img(src="/images/rating/5.svg")
              article dsafj jdsaf jdsaflkdsa lkjdsaf kjdsaflkvjdsaf lkdsajk dakjf dsajf kjdsaf lkjdsafl kajsflk ajsflkdsa j
            li
              img(src="/images/rating/4.svg")
              article dsafj jdsaf jdsaflkdsa lkjdsaf kjdsaflkvjdsaf lkdsajk dakjf dsajf kjdsaf lkjdsafl kajsflk ajsflkdsa j
            li
              img(src="/images/rating/3.svg")
              article dsafj jdsaf jdsaflkdsa lkjdsaf kjdsaflkvjdsaf lkdsajk dakjf dsajf kjdsaf lkjdsafl kajsflk ajsflkdsa j
        .menu-item
          ul.comments
            li
              img(src="/images/rating/5.svg")
              article dsafj jdsaf jdsaflkdsa lkjdsaf kjdsaflkvjdsaf lkdsajk dakjf dsajf kjdsaf lkjdsafl kajsflk ajsflkdsa j
            li
              img(src="/images/rating/3.svg")
              article dsafj jdsaf jdsaflkdsa lkjdsaf kjdsaflkvjdsaf lkdsajk dakjf dsajf kjdsaf lkjdsafl kajsflk ajsflkdsa j
        .menu-item
          ul.comments
            li
              img(src="/images/rating/5.svg")
              article dsafj jdsaf jdsaflkdsa lkjdsaf kjdsaflkvjdsaf lkdsajk dakjf dsajf kjdsaf lkjdsafl kajsflk ajsflkdsa j
            li
              img(src="/images/rating/4.svg")
              article dsafj jdsaf jdsaflkdsa lkjdsaf kjdsaflkvjdsaf lkdsajk dakjf dsajf kjdsaf lkjdsafl kajsflk ajsflkdsa j
            li
              img(src="/images/rating/3.svg")
              article dsafj jdsaf jdsaflkdsa lkjdsaf kjdsaflkvjdsaf lkdsajk dakjf dsajf kjdsaf lkjdsafl kajsflk ajsflkdsa j
            li
              img(src="/images/rating/4.svg")
              article dsafj jdsaf jdsaflkdsa lkjdsaf kjdsaflkvjdsaf lkdsajk dakjf dsajf kjdsaf lkjdsafl kajsflk ajsflkdsa j
    li
      .date
        .month DEC
        .date-num 26
        .day FRIDAY
      ul.menu-items
        .menu-item
          section.title
            aside
              .count 36
              img(src="/images/rating/1.svg")
              figure
            header Tortang Talong with Betlog
        .menu-item
          section.title
            aside
              .count 36
              img(src="/images/rating/1.svg")
              figure
            header Tortang Talong with Betlog
        .menu-item
          section.title
            aside
              .count 36
              img(src="/images/rating/1.svg")
              figure
            header Tortang Talong with Betlog
        .menu-item
          section.title
            aside
              .count 36
              img(src="/images/rating/1.svg")
              figure
            header Tortang Talong with Betlog

