.row
	.column.small-12.text-center
		h1 {{developer.name}}
		h4 {{developer.email}}
		hr
		h2 Knows
		ul#skills
			li(ng-repeat="skill in developer.skills")
				.row
					.column.small-6
						label.inline {{skill.name}}
					.column.small-6
						star(ng-model="skill.score",limit=5,view-only=true)